<div class="form-signin">
    <form class="form-horizontal">
    	<legend>Connectez-vous avec Facebook </legend>
    	<div class="control-group">
    	    <label class="control-label" for="inputUsername">Username</label>
    	    <div class="controls">
    	        <input type="text" id="inputUsername" placeholder="Your Username" >
    	        <p class="help-block"></p>
    	    </div>
    	</div>
    	<div class="control-group">
    	    <label class="control-label" for="inputPwd">Password</label>
    	    <div class="controls">
    	        <input type="text" id="inputPwd" placeholder="Your password" >
    	        <p class="help-block"></p>
    	    </div>
    	</div>
    	<div class="control-group">
            <div class="controls">
                <button id="btnSubmit" type="submit" class="btn btn-primary">Valider</button>
            </div>
        </div>
    </form>
</div>